#fb-post-overlay {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1001;

  background-color: #fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 0 3px 3px 3px;

  font-size: 0;
}

.postoverlay-enter {
  transform: translateX(40rem);
}
.postoverlay-enter.postoverlay-enter-active {
  transform: translateX(0);
  transition: transform .4s ease-out .8s;
}

.postoverlay-leave {
  transform: translateX(0);
}
.postoverlay-leave.postoverlay-leave-active {
  transform: translateX(40rem);
  transition: transform .4s ease-in;
}

.fb-post.fb_iframe_widget {
  max-height: calc(100vh - 2rem);
  max-width: calc(100vw - 3.5rem);

  background-color: #fff;
  border-radius: 0 3px 3px 3px;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.close-overlay {
  position: absolute;
  top: 0;
  left: -2.5rem;

  width: 2.5rem;
  height: 2.5rem;

  background-color: #E64626;
  border: 0;
  border-radius: 3px 0 0 3px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 3px 12px rgba(0,0,0,0.22);
  cursor: pointer;
}
.close-overlay::before,
.close-overlay::after {
  position: absolute;
  left: 1.25rem;
  top: .5rem;

  height: 1.5rem;
  width: .125rem;

  content: '';
  background-color: #000;
}
.close-overlay::before {
  transform: rotate(45deg);
}
.close-overlay::after {
  transform: rotate(-45deg);
}

@media (max-width: 26.25rem) {
  .fb-post.fb_iframe_widget {
    max-height: calc(100vh - 8rem);
  }

  .fb-post.fb_iframe_widget,
  .fb-post.fb_iframe_widget span,
  .fb-post.fb_iframe_widget iframe {
    max-width: calc(100vw - 2rem);
  }

  .close-overlay {
    top: -2.5rem;
    left: 0;
    
    border-radius: 3px 3px 0 0;
  }
}
