.app {
  box-sizing: border-box;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1.25rem;

  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: #333;
}

.app-header {
  display: flex;
  align-items: flex-end;
}

.logo-container {
  box-sizing: border-box;

  width: 23.75rem;
  height: 6.25rem;
  padding: 1.125rem 2.0625rem 0 1.5625rem;

  background-color: #E64626;
}

.logo {
  max-height: 58px;
}

.search-box {
  box-sizing: border-box;
  flex: 1;

  width: 100%;
  height: 3.125rem;
  padding: 0 1rem 0 3.25rem;
  margin: 0;
  border-radius: 0;

  background-image: url('search.svg');
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: .75rem 50%;
  background-color: #333;
  color: #fff;
  border: 0;

  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 3.125rem;
}
.search-box::placeholder {
  color: #fff;
  opacity: 1;
}

@media (max-width: 48rem) {
  .app-header {
    display: block;
  }
}

@media (max-width: 26.25rem) {
  .app-header {
    width: 100vw;
    margin-left: -1.25rem;
  }

  .logo-container {
    padding: 1rem .75rem;
    width: 100%;
    height: auto;
  }
  .logo {
    width: 100%;
    height: auto;
  }
}
