
.app {
  box-sizing: border-box;
  max-width: 64rem;
  margin: 0 auto;
  padding: 20.875rem 1.25rem 0;

  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: #333;
}

.app-header {
  display: flex;
  align-items: flex-end;

  position: relative;
  z-index: 999;
}

.logo-container {
  box-sizing: border-box;

  width: 23.75rem;
  height: 6.25rem;
  padding: 1.125rem 2.0625rem 0 1.5625rem;

  background-color: #E64626;
}

.logo {
  max-height: 58px;

  pointer-events: none;
  user-select: none;
}

.search-box {
  box-sizing: border-box;
  flex: 1;

  width: 100%;
  height: 3.125rem;
  padding: 0 1rem 0 3.25rem;
  margin: 0;
  border-radius: 0;

  background-image: url('search.svg');
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: .75rem 50%;
  background-color: #333;
  color: #fff;
  border: 0;

  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 3.125rem;
}
.search-box::placeholder {
  color: #fff;
  opacity: 1;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;

  width: 100%;
  width: 100vw;
  height: 24rem;

  background-color: #f2f2f2;
}

.app-footer-container {
  position: relative;
  left: 50%;
  margin-left: -50vw;

  width: 100vw;

  background-color: #f2f2f2;
}
.app-footer {
  max-width: 64rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2.5rem 1.25rem 3rem;

  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.footer-logo {
  width: auto;
  height: 2.5rem;
  margin-right: 6.5rem;

  pointer-events: none;
  user-select: none;
}

.footer-like {
  flex: 1 0 15rem;

  margin: 1.5rem 0 0 1.8rem;

  font-size: 1.5rem;
  font-weight: 600;
  color: #E64626;
  text-decoration: none;
  line-height: 1.5rem;

  transition: color .2s;
}
.footer-like:hover,
.footer-like:active {
  color: #333;
}
.footer-like svg {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: top;

  fill: #333;
}

.footer-disclaimer {
  max-width: 24rem;
  margin: 4rem 0 0 4rem;
  position: relative;

  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-size: .75rem;
  color: rgba(0,0,0,.5);
}
.footer-disclaimer::before {
  content: '';
  display: block;
  position: relative;
  top: -1.5rem;

  width: 2rem;
  height: .1875rem;

  background-color: rgba(0,0,0,.36);
}

@media (max-width: 48rem) {
  .app {
    padding-top: 0;
  }

  .app-header {
    display: block;
    margin-top: -.75rem;
  }

  .map {
    position: static;
    margin-left: -1.25rem;
  }
}

@media (max-width: 26.25rem) {
  .app-header {
    width: 100vw;
    margin-left: -1.25rem;
    margin-top: -.25rem;
  }

  .logo-container {
    padding: 1rem .75rem;
    width: 100%;
    height: auto;
  }
  .logo {
    width: 100%;
    height: auto;
  }
}
