.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 2rem;
}

table {
  table-layout: fixed;
  min-width: 62.5rem;
  margin: 1.5rem auto;

  border-spacing: 0;
}

tbody tr:nth-child(even) {
  background-color: #F7F7F7;
}
tbody tr:hover {
  background-color: #EEE;
}

th, td {
  text-align: left;

  padding: .625rem;
  min-height: 3.125rem;
}

th {
  font-family: 'IBM Plex Mono', monospace;
  font-size: .875rem;
  font-weight: 600;
  color: #E64626;

  border-bottom: .125rem solid #CCC;
  cursor: default;
}

th.sortable {
  cursor: pointer;
}
th.sortable:hover {
  background-color: rgba(230,70,38,.1);
}

.col-actions { width: 6.75rem; }
.col-building { width: 16rem; }
.col-level { width: 7.5rem; }
.col-type { width: 8.75rem; }
.col-rating { width: 4.5rem; }
.col-timestamp { width: 9rem; }
.col-notes { width: 10rem; }

.col-building,
.col-rating {
  font-weight: 600;
}

h1.loading {
  text-align: center;
}