.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  margin: 1.5rem -1.25rem 3rem;
}

table {
  table-layout: fixed;
  width: 61.5rem;

  margin: 0 auto;
  padding: 0 1.25rem;

  border-spacing: 0;
}

tbody tr:nth-child(even) {
  background-color: #F7F7F7;
}
tbody tr:hover {
  background-color: #EEE;
}

th, td {
  text-align: left;

  padding: .625rem;
  min-height: 3.125rem;
}

th {
  font-family: 'IBM Plex Mono', monospace;
  font-size: .875rem;
  font-weight: 600;
  color: #E64626;

  border-bottom: .125rem solid #CCC;
  cursor: default;
}

h1.loading {
  margin: 8rem 0;
  text-align: center;
}
